<script src="https://code.jquery.com/jquery-3.7.1.slim.min.js"
    integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css"
    integrity="sha512-q3eWabyZPc1XTCmF+8/LuE1ozpg5xxn7iO89yfSOd5/oKvyqLngoNGsx8jq92Y8eXJ/IRxQbEC+FGSYxtk2oiw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

<script async src="https://eu.umami.is/script.js" data-website-id="a53836cd-9eba-4c9a-bf5c-9243d05d421b"></script>

<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/custom.css">

<!-- DataTables -->
<link rel="stylesheet" href="//cdn.datatables.net/2.1.2/css/dataTables.dataTables.min.css">
<script src="//cdn.datatables.net/2.1.2/js/dataTables.min.js"></script>
<!-- DataTables Buttons -->
<link rel="stylesheet" href="//cdn.datatables.net/buttons/3.1.1/css/buttons.dataTables.min.css">
<script src="//cdn.datatables.net/buttons/3.1.1/js/dataTables.buttons.min.js"></script>

<script>
    $(document).ready(function () {
        // Extract the 'length' parameter from the URL query string, if present.
        const urlParams = new URLSearchParams(window.location.search);
        const lengthParam = urlParams.get('length');
        const pageLength = lengthParam ? parseInt(lengthParam, 10) : null;

        let toolbar = document.createElement('div');
        toolbar.innerHTML = '<b>Custom tool bar! Text/images etc.</b>';
        let tables = $('table.datatable');
        for (let t of tables) {
            let options = {
                "order": $(t).data('order-columns').map(n => [n, 'asc']),
                lengthMenu: [
                    [100, 500, -1],
                    [100, 500, 'All']
                ],
            };
            // If a valid pageLength was provided via GET, use it.
            if (pageLength) {
                options.pageLength = pageLength;
            }
            let dt = new DataTable(t, options);
            dt.columns().every(function () {
                if ($(this.header()).data('hide-column')) {
                    this.visible(false);
                }
            });
        }
    });
</script>
<!-- End DataTables stuff -->
